<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nerva2"
        android:label="Nerva"
        android:roundIcon="@drawable/nerva2"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealNerva"
        tools:targetApi="31" >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RealNerva" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity" android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva" />
        <activity android:name=".LoginActivity" android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva" />
        <activity android:name=".RegisterActivity" android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva" />
        <activity android:name=".HomeActivity" android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva"/>
        <activity android:name=".PainAssessmentActivity" android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva"/>
        <activity
            android:name=".BodyChoiceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RealNerva">
        </activity>
        <activity android:name=".FemaleBodyType"
            android:exported="true"
            android:label="@string/app_name" android:theme="@style/Theme.RealNerva"/>
        <activity android:name=".Emergency" />
    </application>


</manifest>